<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描包中注解标注的类 -->
    <!--<context:component-scan base-package="com.cod4man.eleme.service.impl"/>-->

    <!--从外部配置文件引入图片文件存放地址-->
    <!--引入properties配置文件-->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:setup.properties</value>
        </property>
    </bean>
    <!-- 配置pojo参数 -->
    <bean id="imagesSource" class="com.cod4man.eleme.pojo.SetUp">
        <property name="images_consumer" value="${images.consumer}"/>
        <property name="images_logo" value="${images.logo}"/>
        <property name="images_restaurant_picture" value="${images.restaurantPicture}"/>
    </bean>
</beans>
